* {
  box-sizing: border-box;
}
  
html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  padding: 0;
}

/* Fade in loding effects */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* float animation */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}
  
body {
  margin: 0;
  animation: fadeInAnimation ease-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

:root {
  --header-background: #f0a966;
  --welcome-background: #8d9eb9;
  --default-black: #373230;
  --default-white: #fef7f1;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

/* Header part */
header {
  /* background-color: #f0a96677; */
  color: var(--default-white);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header img {
  height: 5vh;
  padding-top: 10px;
  padding-left: 10px;
}

header > nav {
  flex-grow: 1;
  padding-right: 20px;
}


header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}

header nav ul li {
  padding-left: 20px;
  padding-top: 10px;
  transition: 0.3s ease;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header a:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-color: var(--default-white);
  border-radius: 5px;
  padding-right: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

/* add hover effect */
li a:hover {
  background-color: var(--default-black);
  color: var(--default-white);
  padding: 10px 20px;
  border-radius: 5px;
}

/* welcome part */
.welcome {
  /* background-color: var(--default-black); */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

video {
  /* overflow-clip-margin: content-box; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 74% 0%;
  /* opacity: 0.7; */
  /* filter: blur(1px); */
}

.welcome .wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.601);
  padding: 60px auto;
  border-radius: 20px;
  left: auto;
  bottom: 10%;
  max-width: 100%;
}

.welcome h1 {
  color: var(--default-white);
  font-size: 40px;
  margin-bottom: 0;
  text-align: center;
}

.welcome p {
  /* color: var(--header-background); */
  color: var(--default-white);
  margin: 0;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.welcome p:nth-of-type(1) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome .type-writer {
  margin-top: 50px;
  color: var(--default-white);
  background-color: black;
  padding: 18px 20px 19px 20px;
  border-radius: 10px;
  width: min(415px, 100vw);
  line-height: 1.3rem;
  height: 120px;
  max-width: 100%;
}

.action {
  position: absolute;
  bottom: 3%;
  /* left: 20%; */
  animation: float 3.5s ease-in-out infinite;
  opacity: 0.5;
}
.action p:nth-of-type(1) {
  color: var(--default-white);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 1px 20px rgb(52, 52, 52);
}

/* Projects part */
/* title */
main {
  padding: 40px 10px;
  background-color: var(--welcome-background);
}

#projects h1 {
  font-size: 40px;
}

.project-title {
  color: var(--default-white);
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid var(--default-white);
  max-width: 600px;
  margin: 40px auto;
  padding-bottom: 5px;
}

/* Video projects */
.peoject-section h2 {
  background: linear-gradient(
    90deg,
    #554d4a 10%,
    transparent 35%
  );
  padding: 10px;
  color: var(--default-white);
  margin-top: 50px;
  margin-bottom: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  grid-auto-rows: 1fr;
}

/* .projects-grid a:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border-radius: 5px;
  padding-right: 10px;
  margin-top: 5px;
  margin-left: 5px;
} */

.unit {
  width: 100%;
  background-color: var(--default-black);
  color: var(--default-white);
  /* font-family:Verdana, Geneva, Tahoma, sans-serif */
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

.unit h3 {
  text-align: center;
  margin: 0px 5px 10px 5px;
  font-weight: 200;
  font-size: 16px;
  padding: 15px 5px 20px 5px;
}

.video-unit iframe {
  aspect-ratio: 1920/1080;
  width: 100%;
}

/* add some hover effect */
.unit:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
}

.unit.video-unit:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
}


/* web-dev and photography projects */
.webdev-projects img, .photography-projects img {
  width: 100%;
  border-radius: 5px;
}

.photography-unit {
  position: relative;
  text-align: left;
}

.photography-unit img {
  transition: .5s ease;
}

.photography-unit:hover > img {
  opacity: 0.3;
}

.photo-description {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  text-shadow: 0 1px 1px rgb(14, 14, 14);
  cursor: pointer;
  width: 90%;
}

.photo-description > h3 {
  font-size: 1.6rem;
  padding: 0;
  text-align: start;
  font-weight: 600;
}

.photo-description > p {
  font-size: 1.2rem;
}

.photography-unit:hover > .photo-description {
  opacity: 1;
}

/* contact part */
.contact {
  background-color: var(--default-black);
  color: var(--default-white);
  padding: 200px 10px;
  text-align: center;
  border-bottom: 5px solid var(--header-background);
}

.contact h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.contact p {
  margin-top: 10px;
  font-size: 20px;
  font-style: italic;
}

.contact ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  margin-top: 40px;
}

.contact ul li {
  padding: 10px 40px;
}

/* add hover effect */
.contact ul li:hover {
  transform: scale(1.3);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.contact ul li a {
  color: var(--default-white);
}

.contact ul li a:hover {
  color: var(--header-background);
}

/* footer */
footer {
  background-color: var(--welcome-background);
  padding: 10px 10px;
  text-align: right;
  color: var(--default-white);
  font-size: 20px;
}

/* Media query */
@media only screen and (min-width: 268px) {
  .welcome .type-writer {
    height: 100px;
  }

  .welcome .wrapper {
    bottom: 5%;
  }
}

@media only screen and (min-width: 388px) {
  .project-title {
    font-size: 36px;
  }

  video {
    /* overflow-clip-margin: content-box; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 0%;
  }
  
  .welcome .wrapper {
    padding: 40px 40px;
    bottom: 10%;
  }

  .welcome .type-writer {
    height: 100px;
  }

  .peoject-section h2 {
    background: linear-gradient(
      90deg,
      #554d4a 20%,
      transparent 60%
    );
  }
}

@media only screen and (min-width: 474px) {
  .welcome .type-writer {
    height: 90px;
  }
}

@media only screen and (min-width: 600px) {
  .welcome h1 {
    font-size: 48px;
  }
  .welcome p {
    font-size: 24px;
  }
  .project-title {
    font-size: 36px;
  }
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .peoject-section h2 {
    background: linear-gradient(
      90deg,
      #554d4a 20%,
      transparent 45%
    );
  }
  .contact h1 {
    font-size: 48px;
  }
  .contact p {
    font-size: 24px;
  }

  video {
    /* overflow-clip-margin: content-box; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 74% 0%;
  }
  
  .welcome .wrapper {
    left: 6%;
  }
  
}

@media only screen and (min-width: 900px) {
  .peoject-section h2 {
    background: linear-gradient(
      90deg,
      #554d4a 10%,
      transparent 35%
    );
  }
  
  .contact h1 {
    font-size: 60px;
  }
  .contact p {
    font-size: 30px;
  }
  
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  video {
    object-position: auto;
  }

}

@media only screen and (min-width: 1200px) {
  .welcome .wrapper {
    bottom: auto;
  }

}